---
---

<!DOCTYPE html>
<html class="">
<head>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>My Portfolio</title>
  
	<link rel="stylesheet" href="assets/css/all.css">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>
<body>

{% include header.html %}
{% include about.html %}
{% include work.html %}
{% include clients.html %}
{% include contact.html %}
{% include form.html %}
{% include footer.html %}



<!-- <script src="assets/js/jquery.min.js"></script> -->


<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script src="assets/js/functions.js"></script>
<!-- REMEMBER TO ADD ANALYTICS! -->
</body>
</html>