<section>
	<h3 id="about-me">About Myself</h3>
	<div class="face-lockup">

		<div class="face-img" style="background-image: url(/assets/img/face.jpg)"></div>

		<div class="icon1">{% include icons/responsive.html %}</div>
		<div class="icon2">{% include icons/javascript-coding.html %}</div>
		<div class="icon3">{% include icons/html-coding.html %}</div>
		<div class="icon4">{% include icons/api-code.html %}</div>

	</div>

	<div class="blurb">
		<p><strong>Like many people, I want to enjoy my work.</strong>
		I want to feel like I'm having a <span class="color-text">positive impact</span> on the lives of the customers and make their lives <span class="color-text">easier</span>, <span class="color-text">better</span> and <span class="color-text">happier</span>. I'm interested in roles where I'm allowed — nay, encouraged — to keep my <span class="color-text">hands</span> and <span class="color-text">eyes</span> on a product every step of the way. Where I can <span class="color-text">manage</span> and <span class="color-text">build</span> a project without having to spend all day in meetings and provide <strong>the best possible experience for the customers.</strong></p>
	</div>

  {% if site.data.settings.skills %}

  <div class="skill-lockup">

    {% for skill in site.data.settings.skills %}

      <div class="skill-unit">
        <div class="skill-label">{{ skill.name }}</div>
        <div class="skill-icons skill-{{ skill.value }}">
          {% for i in (1..10) %}
            <span></span>
          {% endfor %}
        </div>
      </div>    

    {% endfor %}
    
  </div>
  
  {% endif %}

</section>
