<section>
	<h3>About Myself</h3>
	<div class="face-lockup">

		<div class="face-img"></div>

		<div class="icon1">{% include icons/developer.html %}</div>
		<div class="icon2">{% include icons/globe-gear.html %}</div>
		<div class="icon3">{% include icons/html-coding.html %}</div>
		<div class="icon4">{% include icons/web-content.html %}</div>

	</div>
	<p><strong>Lorem ipsum dolor sit amet, possit officiis nec ex s et feugiat ceteros senserit. 
	</strong>oCu quo iusto complectitur. Quo brute nostro inermis te, harum posidonium reprimique pro at.

	Diceret philosophia te nam, suas assum sensibus mei ex. Wisi maiorum argumentum duo in, meis mutat vim id. At nam debitis officiis, ne vix summo commodo assentior, in eos dicant menandri. Pri ei enim altera, ex movet menandri expetendis pro. Meis utinam ea usu, clita imperdiet adversarium at eos, stet oratio denique mel ei.</p>

	<div class="skills"></div>

</section>