<section class="section-projects">

  <h3 id="projects">Pet Projects</h3>

  <div class="projects-belt">
    <div class="thumb-wrap">
      <div class="thumb-container">
        {% for project in site.data.settings.projects %}
        <div class="thumb-unit {{project.class}}" data-folder="{{ project.folder }}">
          <img src="assets/projects/{{project.folder}}/thumb.jpg" alt="{{ project.name }}" />
          <div class="thumb-overlay">
            <strong>{{ project.name }}</strong>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="projects-wrap">
      <div class="projects-container">
      <div class="projects-return">{% include icons/icon-back.html %}</div>
      <h4 class="project-title">{{ project.name }}</h4>
      <div class="project-load"></div>
    </div>
    </div>

  </div>
</section>
