h3
	@extend %big-bold
	color: $hover-color
	text-align: center


.face-lockup
	max-width: 780px
	+display(flex)
	justify-content: space-around

	.icon1
		width: 150px
	.icon2
		width: 150px
	.icon3
		width: 150px
	.icon4
		width: 150px


