header
  .background
    height: 100vh
    background: url(../img/background.jpg) center center
    background-size: cover

  .overlay 
    background-color: rgba(53, 49, 45, 0.35)
    background-image: url("../img/pattern.png")
    background-repeat: repeat
    height: 100%


  .content
    position: absolute
    width: 100%
    top: 40%
    
    nav
      text-align: center
      
      a
        display: inline-block
        margin-left: 20px
        margin-right: 20px
        
        color: #FFFFFF
        @extend %small-bold
        
        &:hover
          color: $orange-light
      

    .kicker1
      Font:
        size: 17px
        weight: 300 
      text-align: center
      letter-spacing: 0.05em
      color: white
      line-height: 1


    h1
      text-align: center
      font:
        size: 40px
        weight: 300
      color: white
      text-transform: uppercase
      letter-spacing: 0.05em
      clear: both

    
    .kicker2
      Font:
        size: 17px
        weight: 500 
      text-align: center
      letter-spacing: 0.05em
      color: white
      line-height: 1

@media (max-width: 420px)
  
  header .content nav a
    margin-left: 0px
    margin-right: 15px
    
    
// Ipad header height fix

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait)
  .background
    height: 1024px


/** 
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape)
  .background
    height: 768px
  

/**
 * iPhone 5
 * You can also target devices with aspect ratio.
 */
@media screen and (device-aspect-ratio: 40/71) 
  .background
    height: 500px
