header
  .background
    //height: 100vh
    background: url(../img/background.jpg) center center
    background-size: cover
    
    
    $height: 100 //set your height in vh
    $heightPercent: $height/100
    height: #{$height}vh


  .overlay 
    background-color: rgba(53, 49, 45, 0.35)
    background-image: url("../img/pattern.png")
    background-repeat: repeat
    height: 100%


  .content
    position: absolute
    width: 100%
    top: 40%
    
    nav
      text-align: center
      
      a
        display: inline-block
        margin-left: 20px
        margin-right: 20px
        
        color: #FFFFFF
        @extend %small-bold
        
        &:hover
          color: $orange-light
      

    .kicker1
      Font:
        size: 17px
        weight: 300 
      text-align: center
      letter-spacing: 0.05em
      color: white
      line-height: 1


    h1
      text-align: center
      font:
        size: 40px
        weight: 300
      color: white
      text-transform: uppercase
      letter-spacing: 0.05em
      clear: both

    
    .kicker2
      Font:
        size: 17px
        weight: 500 
      text-align: center
      letter-spacing: 0.05em
      color: white
      line-height: 1

@media (max-width: 420px)
  
  header .content nav a
    margin-left: 0px
    margin-right: 15px



  
//iPhone 3 and 4 portrait
@media all and (device-width: 320px) and (device-height: 480px) and (orientation:portrait)
  height: 480px*$heightPercent
//iPhone 3 and 4 landscape
@media all and (device-width: 320px) and (device-height: 480px) and (orientation:landscape)
  height: 320px*$heightPercent
//iPhone 5 portrait
@media all and (device-width: 320px) and (device-height: 568px) and (orientation:portrait)
  height: 568px*$heightPercent
//iPhone 5 landscape
@media all and (device-width: 320px) and (device-height: 568px) and (orientation:landscape) 
  height: 320px*$heightPercent

//iPad portrait
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait)
  height: 1024px*$heightPercent
//iPad landscape
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape)
  height: 768px*$heightPercent
